<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ParkFinder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8AA861B51E8ECD5E004D12D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AA861C91E8ECD5F004D12D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AA861D41E8ECD5F004D12D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
